
<div class="row">

  <div class="col-lg-4 col-lg-offset-4">

    <div class="auth-form">
      <%= render 'partials/devise_err' %>
      <h2>Registro</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>



        <%= f.label 'Contraseña' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>



        <%= f.label "Confirmación de contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>



        <%= f.submit "Confirmar registro", class:'form-control' %>

    <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>
</div>


