

  <div class="row">
    <%= render 'partials/movie_errors' %>
    <div class="col-lg-6 movie-container">
      <div class="col-md-6">
        <% if @movie.image.catalog.url.nil? %>
            <%=image_tag("https://placehold.it/320x480?text=IMAGE",
                         class: "img-responsive center-block",
                         alt: "Poster de #{@movie.title}")%>
        <% else %>
            <%=image_tag( @movie.image.url,
                          class: "img-responsive center-block",
                          alt: "Poster de #{@movie.title}")%>
        <% end %>

      </div>
      <div class="col-md-6 movie-info">
        <h2><%= @movie.title %></h2>
        <h4><%= @movie.year %></h4>
        <p><%= @movie.description %></p>

      </div>


    </div>
    <div class="col-lg-6 new-details">
    <%= form_for(@movie) do |f| %>
      <%= f.label "Título" %>
        <%= f.text_field :title, class: 'form-control', required: true%>

        <%= f.label "Año de estreno" %>
        <%= f.number_field :year, class: 'form-control', required: true  %>

        <%= f.label "Descripción" %>
        <%= f.text_area :description, class: 'form-control', required: true %>

          <%= f.label "Poster (opcional)" %>
          <%= f.file_field :image, class: 'form-control' %>

        <%= f.submit "Guardar cambios", class: 'form-control' %>
    <% end %>
    </div>
  </div>

