<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 movie-container">
      <div class="col-sm-6 movie-info">
        <h2><%= @movie.title %></h2>
        <h4><%= @movie.year %></h4>
        <p><%= @movie.description %></p>

      </div>
      <div class="col-sm-6">
        <%= image_tag("https://placehold.it/320x480?text=IMAGE",
                      class: "poster img-responsive center-block",
                      alt: "Poster de #{@movie.title}") %>
      </div>
      <div class="col-sm-8">
        <button class="btn btn-default btn-lg">Rentar</button>
      </div>
    </div>
    <div class="col-md-6 new-details">
    <%= form_for(@movie, url: movie_path) do |f| %>
      <%= f.label "Título" %>
        <%= f.text_field :title, class: 'form-control'%>

        <%= f.label "Año de estreno" %>
        <%= f.number_field :year, class: 'form-control' %>

        <%= f.label "Descripción" %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.submit "Guardar cambios", class: 'form-control' %>
    <% end %>
    </div>
  </div>

</div>