<%= text_field_tag "search_query", nil, placeholder: "Filtrar..", class: 'form-control' %>
<%= will_paginate %>
<div class="row row-eq-height hidden-sm-down">

<% @movies.each do |movie| %>
    <div class="col-lg-3 hidden-xs movie-panel">
      <div class="panel panel-info text-center">
        <div class="panel-heading"><strong><%= movie.title %></strong>
          <% if !(current_admin.nil?) %>
              <small><%= link_to "editar", edit_movie_path(movie.slug) %></small>
          <% end %>
        </div>
        <div class="panel-body">
          <% if movie.image.catalog.url.nil? %>
            <%=link_to image_tag("http://via.placeholder.com/160x240",
                                 class: "img-responsive center-block",
                                 alt: "Poster de #{movie.title}"),
                       movie %>
          <% else %>
              <%=link_to image_tag( movie.image.catalog.url,
                                   class: "img-responsive center-block",
                                   alt: "Poster de #{movie.title}"),
                         movie %>
          <% end %>
        </div>
        <% if local_assigns[:renting] %>

            <%= button_to "Rentar", make_a_rent_path + "/#{movie.slug}", method: 'get' %>
        <% else %>
          <div class="panel-footer text-center">(<%= movie.year %>)</div>
        <% end %>
      </div>

    </div>

<% end %>
</div>

<div class="row visible-xs">
  <% @movies.each do |movie| %>

  <div class="col-sm-6">
    <div class="mini-movie">
      <label><%= movie.title %></label>
      <% if movie.image.catalog.url.nil? %>
          <%=link_to image_tag("http://via.placeholder.com/160x240",
                               class: "img-responsive center-block",
                               alt: "Poster de #{movie.title}"),
                     movie %>
      <% else %>
          <%=link_to image_tag( movie.image.url,
                                class: "img-responsive center-block",
                                alt: "Poster de #{movie.title}"),
                     movie %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>