<!DOCTYPE html>
<html>
  <head>
    <title>Videoclub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="body-content"><%= yield %></div>

  </body>
</html>
